@page "/Achievments/{siteLanguage?}"
@model Maglobe.Web.Pages.Achievments

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "افتخارات مگلوب";
}

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 content align-center">
                <div class="row">
                    <div class="col-md-2">
                        <div class="certificate">
                            <p>
                                Mercedes-Benz
                                Certificate
                            </p>

                            <a href="@Url.Content("/StaticFiles/images/certificate.png")" data-lity>
                                <img class="certificate-img img-responsive" src="@Url.Content("/StaticFiles/images/certificate.png")"
                                     alt="'گواهینامه">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="certificate">

                            <a href="@Url.Content("/StaticFiles/images/certificate.png")" data-lity>
                                <img class="certificate-img img-responsive" src="@Url.Content("/StaticFiles/images/certificate.png")"
                                     alt="'گواهینامه">
                            </a>
                            <p>
                                Mercedes-Benz
                                Certificate
                            </p>

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="certificate">
                            <p>
                                Mercedes-Benz
                                Certificate
                            </p>

                            <a href="@Url.Content("/StaticFiles/images/certificate.png")" data-lity>
                                <img class="certificate-img img-responsive" src="@Url.Content("/StaticFiles/images/certificate.png")"
                                     alt="'گواهینامه">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="certificate">

                            <a href="@Url.Content("/StaticFiles/images/certificate.png")" data-lity>
                                <img class="certificate-img img-responsive" src="@Url.Content("/StaticFiles/images/certificate.png")"
                                     alt="'گواهینامه">
                            </a>
                            <p>
                                Mercedes-Benz
                                Certificate
                            </p>

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="certificate">
                            <p>
                                Mercedes-Benz
                                Certificate
                            </p>

                            <a href="@Url.Content("/StaticFiles/images/certificate.png")" data-lity>
                                <img class="certificate-img img-responsive" src="@Url.Content("/StaticFiles/images/certificate.png")"
                                     alt="'گواهینامه">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="certificate">

                            <a href="@Url.Content("/StaticFiles/images/certificate.png")" data-lity>
                                <img class="certificate-img img-responsive" src="@Url.Content("/StaticFiles/images/certificate.png")"
                                     alt="'گواهینامه">
                            </a>
                            <p>
                                Mercedes-Benz
                                Certificate
                            </p>

                        </div>
                    </div>

                </div>
                <div class="row achievments-text">
                    <div class="col-md-6 offset-md-3">

                        <h2>افتخارات مگلوب</h2>
                        <p>
                            این محصول با استفاده از روغن تمام پایه سنتزی با کیفیت عالی تولید شده است و علاوه بر
                            روانی و محافظت از قطعات موتور باعث کاهش مصرف سوخت هم می شود. ابن فرآورده برای عموم
                            خودروهای سواری و ون های سبک با سوخت بنزین یا مجهز به توربو شارژ طراحی شده است
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>