@page "/Benefits/{siteLanguage?}"
@model Maglobe.Web.Pages.Benefits

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "مزایا";
}

<div class="content-wrapper">
    <a href="/testimonials" class="testimonials-btn"></a>
    <div class="container">
        <div class="row">

            <div class="col-md-12 content align-center">
                <div class="row">
                    <div class="col-12 d-block d-md-none">
                        <!-- Slider main container -->
                        <div class="swiper benefits-swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <a href="20W-50.html">
                                        <img alt="مگلوب" class="img-responsive img-block"
                                             src="@Url.Content("/StaticFiles/images/20w-50-detail.png")"/>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="5W-40.html">
                                        <img alt="مگلوب" class="img-responsive img-block"
                                             src="@Url.Content("/StaticFiles/images/5w-40-detail.png")"/>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="0w-20.html">
                                        <img alt="مگلوب" class="img-responsive img-block"
                                             src="@Url.Content("/StaticFiles/images/0w-20-detail.png")"/>
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="5W-30.html">
                                        <img alt="مگلوب" class="img-responsive img-block"
                                             src="@Url.Content("/StaticFiles/images/5w-30-detail.png")" />
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="10W-40.html">
                                        <img alt="مگلوب" class="img-responsive img-block"
                                             src="src/images/10w-40-detail.png"/>
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="5W-30-p.html">
                                        <img alt="مگلوب" class="img-responsive img-block"
                                             src="src/images/5w-30-p.png"/>
                                    </a>
                                </div>


                                <!-- End Slide1-->

                            </div>

                            <!-- End Slides -->
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>

                            <!-- If we need navigation buttons -->
                            <!-- <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3 ">
                        <h2>چرا روغن موتور مگلوب؟</h2>
                        <p>
                            این محصول با استفاده از روغن تمام پایه سنتزی با کیفیت عالی تولید شده است و علاوه بر
                            روانی و
                            محافظت از قطعات موتور باعث کاهش مصرف سوخت هم می شود. ابن فرآورده برای عموم خودروهای
                            سواری و ون
                            های سبک با سوخت بنزین یا مجهز به توربو شارژ طراحی شده است

                        </p>
                    </div>
                    <div class="d-none d-md-block col-sm-8 offset-sm-2">
                        <div class="row">
                            <div class="col-md-2 nprl">
                                <a href="20W-50.html">
                                    <img alt="مگلوب" class="img-responsive img-block"
                                         src="@Url.Content("/StaticFiles/images/20w-50-detail.png")"/>
                                </a>
                            </div>
                            <div class="col-md-2 nprl">
                                <a href="5W-40.html">
                                    <img alt="مگلوب" class="img-responsive img-block"
                                         src="@Url.Content("/StaticFiles/images/5w-40-detail.png")"/>
                                </a>
                            </div>
                            <div class="col-md-2 nprl">
                                <a href="0w-20.html">
                                    <img alt="مگلوب" class="img-responsive img-block"
                                         src="@Url.Content("/StaticFiles/images/0w-20-detail.png")"/>
                                </a>
                            </div>
                            <div class="col-md-2 nprl">
                                <a href="5W-30.html">
                                    <img alt="مگلوب" class="img-responsive img-block"
                                         src="@Url.Content("/StaticFiles/images/5w-30-detail.png")"/>
                                </a>
                            </div>
                            <div class="col-md-2 nprl">
                                <a href="10W-40.html">
                                    <img alt="مگلوب" class="img-responsive img-block"
                                         src="@Url.Content("/StaticFiles/images/5w-30-detail.png")"/>
                                </a>
                            </div>
                            <div class="col-md-2 nprl">
                                <a href="5W-30-p.html">
                                    <img alt="مگلوب" class="img-responsive img-block"
                                         src="@Url.Content("/StaticFiles/images/5w-30-p.png")"/>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>