@page "/Benefits/{siteLanguage?}"
@model Maglobe.Web.Pages.Benefits

@{
    Layout = "Shared/_Layout";
    string language = (string) ViewData["siteLanguage"];
    @if (language == "en")
    {
        ViewData["Title"] = "Benefits";
    }
    else
    {
        ViewData["Title"] = "مزایا";
    }
}

@if (language == "en")
{
    <div class="content-wrapper">
        <a href="/testimonials/en" class="testimonials-btn"></a>
        <div class="container">
            <div class="row">

                <div class="col-md-12 content align-center">
                    <div class="row flex-md-column-reverse">
                        <div class="col-md-6 offset-md-3 ">
                            <div class="d-md-block col-10 offset-1 col-sm-8 offset-sm-2">
                                <div class="row">
                                    <div class="col-md-2 col-4 nprl">
                                        <a href="/ProductDetails/14/en">
                                            <img alt="مگلوب" class="img-responsive img-block"
                                                 src="@Url.Content("/StaticFiles/images/20w-50-detail.png")"/>
                                        </a>
                                    </div>
                                    <div class="col-md-2 col-4 nprl">
                                        <a href="/ProductDetails/11/en">
                                            <img alt="مگلوب" class="img-responsive img-block"
                                                 src="@Url.Content("/StaticFiles/images/5w-40-detail.png")"/>
                                        </a>
                                    </div>
                                    <div class="col-md-2 col-4 nprl">
                                        <a href="/ProductDetails/10/en">
                                            <img alt="مگلوب" class="img-responsive img-block"
                                                 src="@Url.Content("/StaticFiles/images/0w-20-detail.png")"/>
                                        </a>
                                    </div>
                                    <div class="col-md-2 col-4 nprl">
                                        <a href="/ProductDetails/13/en">
                                            <img alt="مگلوب" class="img-responsive img-block"
                                                 src="@Url.Content("/StaticFiles/images/5w-30-detail.png")"/>
                                        </a>
                                    </div>
                                    <div class="col-md-2 col-4 nprl">
                                        <a href="/ProductDetails/12/en">
                                            <img alt="مگلوب" class="img-responsive img-block"
                                                 src="@Url.Content("/StaticFiles/images/5w-30-detail.png")"/>
                                        </a>
                                    </div>
                                    <div class="col-md-2 col-4 nprl">
                                        <a href="/ProductDetails/15/en">
                                            <img alt="مگلوب" class="img-responsive img-block"
                                                 src="@Url.Content("/StaticFiles/images/5w-30-p.png")"/>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <h2>Why Maglub</h2>
                            <p>
                                This product is produced using high quality synthetic base oil Has been and in addition to psychological And protecting engine parts also reduces fuel consumption. This product for the general public Rides and light vans are designed with gasoline fuel or equipped with turbochargers
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.setTimeout(function () {
            location.href = "/testimonials/en";
        }, 5000);
</script>
}
else
{
    <div class="content-wrapper">
        <a href="/testimonials" class="testimonials-btn"></a>
        <div class="container">
            <div class="row">

                <div class="col-md-12 content align-center">
                    <div class="row flex-md-column-reverse">
                        <div class="d-md-block col-10 offset-1 col-sm-8 offset-sm-2">
                            <div class="row">
                                <div class="col-md-2 col-4 nprl">
                                    <a href="/ProductDetails/8">
                                        <img alt="مگلوب" class="img-responsive img-block"
                                             src="@Url.Content("/StaticFiles/images/20w-50-detail.png")"/>
                                    </a>
                                </div>
                                <div class="col-md-2  col-4 nprl">
                                    <a href="/ProductDetails/4">
                                        <img alt="مگلوب" class="img-responsive img-block"
                                             src="@Url.Content("/StaticFiles/images/5w-40-detail.png")"/>
                                    </a>
                                </div>
                                <div class="col-md-2 col-4 nprl">
                                    <a href="/ProductDetails/1">
                                        <img alt="مگلوب" class="img-responsive img-block"
                                             src="@Url.Content("/StaticFiles/images/0w-20-detail.png")"/>
                                    </a>
                                </div>
                                <div class="col-md-2 col-4 nprl">
                                    <a href="/ProductDetails/6">
                                        <img alt="مگلوب" class="img-responsive img-block"
                                             src="@Url.Content("/StaticFiles/images/5w-30-detail.png")"/>
                                    </a>
                                </div>
                                <div class="col-md-2 col-4 nprl">
                                    <a href="/ProductDetails/5">
                                        <img alt="مگلوب" class="img-responsive img-block"
                                             src="@Url.Content("/StaticFiles/images/5w-30-detail.png")"/>
                                    </a>
                                </div>
                                <div class="col-md-2 col-4 nprl">
                                    <a href="/ProductDetails/9">
                                        <img alt="مگلوب" class="img-responsive img-block"
                                             src="@Url.Content("/StaticFiles/images/5w-30-p.png")"/>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 offset-md-3 ">
                            <h2>چرا روغن موتور مگلوب؟</h2>
                            <p>
                                این محصول با استفاده از روغن تمام پایه سنتزی با کیفیت عالی تولید شده است و علاوه بر
                                روانی و
                                محافظت از قطعات موتور باعث کاهش مصرف سوخت هم می شود. ابن فرآورده برای عموم خودروهای
                                سواری و ون
                                های سبک با سوخت بنزین یا مجهز به توربو شارژ طراحی شده است

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
            window.setTimeout(function () {
                location.href = "/testimonials/";
            }, 5000);

</script>
}