@page "/Products/{siteLanguage?}"
@using Maglobe.Web.Services.Models
@model Maglobe.Web.Pages.Products

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "محصولات";
    var products = (List<ProductViewModel>) ViewData["Products"];
}


<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 content">
                <!-- Slider main container -->
                <div class="swiper products-swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">

                        @if (products != null && products.Any())
                        {
                            @foreach (var item in products)
                            {
                                <div class="swiper-slide">
                                    <div class="row">
                                        <div class="col-xxl-4 offset-xxl-3 col-lg-5 offset-lg-1 col-md-6 offset-md-1">
                                            <div class="row">
                                                <h3 class="purple-heading">@item.Name</h3>
                                                <p>مشخصات محصول:</p>
                                                <p>
                                                    @item.Description
                                                </p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 align-center">
                                                    <div class="deep-box">
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <p> تاییدیه رسمی از:</p>
                                                            </div>
                                                            <div class="col-8">
                                                                @foreach (var itemCertificateItem in item.CertificateItems)
                                                                {
                                                                   <img src="@itemCertificateItem.Image" class="inline-logo" alt="@itemCertificateItem.Title">  
                                                                }
                                                                </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 pl-5">
                                                    <div class="deep-box-small  align-center">
                                                        <p>
                                                            مدل:
                                                            @item.Model
                                                        </p>

                                                    </div>
                                                </div>
                                                <div class="col-6 pr-5">
                                                    <div class="deep-box-small  align-center">
                                                        <p>کیفیت: @item.Quality</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 pl-5">
                                                    <div class="deep-box-small  align-center">
                                                        <p>
                                                            حجم: @item.Volume
                                                        </p>

                                                    </div>
                                                </div>
                                                <div class="col-6 pr-5 ">
                                                    <div class="deep-box-small  align-center">
                                                        <p>
                                                            تمام سنتتیک
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 pl-5">
                                                    <div class="align-center">
                                                        <a href="#" class="btn btn-gradient btn-block btn-large">
                                                            مشاهده جزئیات
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 align-left">
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="col-xxl-4 offset-xxl-1 col-lg-5 offset-lg-1 col-md-5 offset-md-0 col-6 offset-3">
                                            <div class=" big-product-pic">
                                                <img alt="روغن موتور 5w-40 " src="@item.LargePicture">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>محصولی یافت نشد.</p>
                        }

                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons  -->

                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/StaticFiles/js/swiper.js")"></script>
<script>
            const swiper = new Swiper('.swiper', {
                // Optional parameters
                direction: 'vertical',
                loop: true,
                autoHeight: true,
                mousewheel: {
                    releaseOnEdges: true,
                },
                // If we need pagination
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                    renderBullet: function (index, className) {
                        return '<span class="' + className + '">' + (index + 1) + "</span>";
                    },
                },

                // Navigation arrows
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },

                // And if we need scrollbar
                scrollbar: {
                    el: '.swiper-scrollbar',
                },
                autoplay: true,
                autoplay: {
                    pauseOnMouseEnter: true,
                    delay: 5000,
                },
            });

</script>